@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Creepster&family=Lato:wght@700&display=swap');
* {
    font-size: 50px;
    padding: 0;
    margin: 0;
    min-height: 100px;
    min-width: 50px;
    font-family: 'Chewy', cursive;
 }
#navigation {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: limegreen;
    border: 10px dotted orange;
    text-decoration-color: lightblue;
    margin: auto;
    text-align: center;
    height: 10%;
    z-index: 2;
}
a {
    text-decoration: none;
}
#pictures td {
    color: red;
}