@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Creepster&family=Lato:wght@700&display=swap');
* {
    font-size: 50px;
    margin: auto;
    padding: 0px;
    font-family: 'Chewy', cursive;
}
    footer {
    text-align: center;
    font-family: 'Creepster', cursive;
}
input {
    text-align: center;
}
i {
    color: orange;
}
fieldset {
    padding: 50px;
    background-color: limegreen;
    color: turquoise;
    border: 5px orange solid;
}
legend {
    border: 5px orange solid;
    background-color: limegreen;
}
#navigation {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: limegreen;
    border: 10px dotted orange;
    text-decoration-color: lightblue;
    margin: auto;
    text-align: center;
    height: 10%;
    z-index: 2;
}
a {
    text-decoration: none;
}