* {
    margin: 0;
    padding: 0;
}
#navigation {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: limegreen;
    border: 10px dotted orange;
    text-decoration-color: lightblue;
    margin: auto;
    text-align: center;
}
a {
    text-decoration: none;
}
#start {
    height: 80%;
    width: 100%;
}
#aggravating {
    font-size: 80px;
    text-align: center;
}
i {
    font-size: 10px;
}
img {
    text-align: center;
}
div h2 {
    text-align: center;
    font-size: 20px;
    margin: 40px;
}
#animation {
    animation-name: typical-website;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes typical-website {
    0% {
        font-size: 20px;
        color: lightblue;
    }
    16.666666667% {
        font: 15px;
        color: lightblue;
    }
    25% {
        transform: rotate(45deg);
        font-size: 20px;
    }
    33.33333333% {
        font-size: 15px;
        color: limegreen;
    }
    50% {
        transform: rotate(0deg);
        font-size: 20px;
    }
    66.666666667% {
        font-size: 15px;
        color: orange;
    }
    75% {
        transform: rotate(-45deg);
        font-size: 20px;
    }
    91.666666667% {
        font-size: 15px;
        color: lightblue;
    }
    100% {
        transform: rotate(0deg);
        font-size: 20px;
    }
}
